gym[atari,classic_control,box2d]==0.12.0
opencv-python==4.1.1.26
gym-super-mario-bros==7.2.3
# to prevent AttributeError: 'ImageData' object has no attribute 'data' raised in gym, pin pyglet to v1.3.3
pyglet==1.3.3